* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25%;
  padding: 1rem;
  background-color: transparent;
   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.content {
  border: 1px solid red;
}

.content-img {
  width: 100%;
}

.content-img img {
  width: 100%;
  object-fit: cover;
}

.content-info {
  padding: 0.6rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top span {
  background-color: green;
  color: white;
  font-size: 1rem;
  padding: 0.4em;
  text-transform: capitalize;
  border-radius: 5px;
}

.top i {
  font-size: 1.4rem;
  color: white;
}

.content-info h1 {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin: 0.7em 0;
  color: white;
}

.content-info p {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.5em 0;
  color: white;
}

.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.2em 0;
}

.rating i {
  font-size: 1.2rem;
  color: white;
}

.rating p {
  margin-left: 0.6em;
  color: white;
  font-size: 1.5rem;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  padding: 0.9rem;
}

.bottom h2 {
  color: white;
  font-size: 1.8rem;
  text-transform: capitalize;
}
